@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap");
:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F3F5;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2 {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
}

header {
  background-color: #212738;
  height: 100vh;
  width: 19.5833333333%;
}
header .user-info {
  padding: 0 20px;
  margin-top: 10%;
  display: flex;
  gap: 20px;
}
header .user-info svg {
  height: 99px;
  width: 99px;
  color: white;
}
header .user-info .display-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .user-info .display-user div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header .user-info .display-user div h2 {
  font-size: 2rem;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1px;
  color: white;
  font-weight: lighter;
  margin: -7px 0;
}
header .user-info .display-user div .retail-location {
  flex-direction: row;
  position: relative;
}
header .user-info .display-user div .retail-location p {
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: white;
  margin: 0;
}
header .user-info .display-user div .retail-location button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}
header .user-info .display-user div .retail-location button svg {
  cursor: pointer;
  height: 12px;
  width: 12px;
}
header .user-info .display-user div .retail-location ul {
  top: 20px;
  left: -10px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #3b4560;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header .user-info .display-user div .retail-location ul li {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}
header .user-info .display-user div .retail-location ul li p {
  height: 100%;
  width: 100%;
  padding: 5px 10px;
}
header .user-info .display-user div .retail-location ul .active-option {
  background-color: #FF8811;
}
header .user-info .display-user .settings {
  flex-direction: row;
  gap: 20px;
}
header .user-info .display-user .settings svg {
  cursor: pointer;
  height: 19px;
  width: 19px;
  color: #FF8811;
}
header nav {
  margin-top: 86px;
}
header nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
header nav a {
  text-decoration: none;
}
header nav .menu-selected {
  background-color: #9BE7FF;
}
header nav .menu-selected svg {
  color: #212738;
}
header nav .menu-selected h3 {
  color: #212738;
}
header nav a:not(.menu-selected):hover svg {
  transition: color 0.2s ease-in-out;
  color: #9BE7FF;
}
header nav a:not(.menu-selected):hover h3 {
  color: #9BE7FF;
  transition: color 0.2s ease-in-out;
}
header nav a {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
  width: 100%;
  padding-left: 25%;
}
header nav a svg {
  transition: color 0.2s ease-in-out;
  color: white;
  height: 20px;
  width: 20px;
}
header nav a h3 {
  transition: color 0.2s ease-in-out;
  color: white;
  font-weight: normal;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  width: 80.4166666667%;
  display: flex;
  flex-direction: column;
}

.atelier, .search-section {
  height: 32.3148148148%;
  width: 100%;
  background-color: #9BE7FF;
  padding: 1.9% 20px 20px 20px;
}

.dashboard, .search-result {
  height: 67.6851851852%;
  width: 100%;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.container {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subcontainer {
  display: flex;
  width: max-content;
  gap: 20px;
}

.informations, .manage-stock {
  width: 610px;
  height: 287px;
  background-color: white;
  border-radius: 10px;
}

.tiles-container {
  height: 287px;
  width: 287px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}
.tiles-container div {
  background-color: white;
  height: 133.5px;
  width: 133.5px;
  border-radius: 10px;
  transition: background-color 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tiles-container div a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tiles-container div svg {
  color: #212738;
  height: 90px;
  width: 90px;
  transition: color 0.4s ease-in-out;
}
.tiles-container div:hover {
  cursor: pointer;
  background-color: #212738;
  transition: background-color 0.4s ease-in-out;
}
.tiles-container div:hover svg {
  color: #9BE7FF;
  transition: color 0.4s ease-in-out;
}

.appointment {
  height: 287px;
  width: 287px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  background-color: #212738;
  border-radius: 10px;
}

.booked {
  flex-grow: 1;
  background-color: white;
  border-radius: 10px;
}

.search-section h2 {
  font-family: Dosis, sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}
.search-section .search-field {
  display: flex;
  height: 44px;
}
.search-section .search-field label {
  height: 100%;
  background-color: #F0F3F5;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px 0 0 10px;
}
.search-section .search-field label p {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.search-section .search-field input {
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 1rem;
  border-radius: 0 10px 10px 0;
}

.search-result {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.search-result table {
  width: 100%;
  height: max-content;
  max-height: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
}
.search-result table tr {
  border: none;
  height: 50px;
}
.search-result table tr th, .search-result table tr td {
  border-right: solid 1px #F0F3F5;
  padding: 0 20px;
  text-align: left;
}
.search-result table tr th:last-child, .search-result table tr td:last-child {
  border-right: none;
}
.search-result table tr td {
  width: max-content;
}
.search-result .error {
  text-align: center;
}
.search-result .search-error {
  color: #ff0000;
}
.search-result .loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-result .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.search-result .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #9BE7FF;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.search-result .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.search-result .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.search-result .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.search-result .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*# sourceMappingURL=index.css.map */
